{% extends 'base.html.twig' %}

{% block title %} My homepage Woo {% endblock %}

{% block body %}
<img src="{{ asset('images/logo.jpeg')}}" alt=""/>
<h1>myhomepage1</h1>
<div>
    Browse through {{ numberStarships * 10 }} starts
</div>

{% if (numberStarships > 30) %}
<div>
    <p>over 30 </p>
</div>
{% endif %}
    {# debug this page #}
<h2>My ship</h2>
    <div>
        <a href="{{ path('app.starship.single', {id : starship.id}) }}">
            <b>Name</b><span>{{ starship.name }}</span>
        </a>
    </div>
    <div><b>Class</b><span>{{ starship.class }}</span></div>
    <div><b>Capitan</b><span>{{ starship.capitan }}</span></div>
    <div><b>Status</b><span>{{ starship.status }}</span></div>
{% endblock %}

